<nav class="navbar navbar-expand-lg  navbar-dark navbar-bg">
    
    <a class="navbar-brand" routerLink='/dashboard'>
        <span class="neo">
            <b>Neo</b>
        </span>
        <span class="scrum">
            <b>Scrum</b>
        </span>
    </a>
            <div class="navbar-brand">
                <img class="profilePic" src="assets/img_avatar3.png" >                       
              <span class="" href="#">Vishal Rindhe</span>
            </div>  

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav home-page-nav">
        <button type="button" class=" btn btn-outline-light my-2 mr-sm-4" routerLink="/dashboard">Back</button>
        <button type="button" class="btn btn-danger my-2 mr-sm-4 " routerLink="/login">
            <div style="margin-left: 2%;margin-right: 2%;"
                (click)="logout()"
            >Logout</div>
        </button>   

    </div>
    </div>
</nav>


<app-feedback-write></app-feedback-write>