<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"><span class="neo">Neo</span><span class="scrum">Scrum</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav home-page-nav">
    <button class="nav-link active login btn btn-dark" routerLink="/login">Logout<span class="sr-only">(current)</span></button>
    <!-- <a class="nav-link signup" routerLink="/login">LogOut</a> -->
    </div>
    </div>
</nav>

<app-feedback-write></app-feedback-write>