<div class="example-small-box" >
  
    <div class="input-group">
      <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
      <input type="text" class="form-control" placeholder="Employee Name" aria-label="Username" aria-describedby="basic-addon1">    
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <input type="file" class="form-control input1" placeholder="file" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <!-- <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" class="form-control input1" id="inputGroupFile01">
      </div> -->

    <button type="button" class="btn btn-warning">SUBMIT</button>
  </div>