  
  .example-small-box {
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin: 3% 16%;
    padding: 16px;
    border-radius: 8px;
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #99ccff 38%, #ff66cc 100%);
    border:solid
    
  }
  
input{
  padding: 3%;
  margin: 4%;
}

button{
  margin: 4%;
  color: white;
  text-shadow: black;
  padding: 2% 4%;
  border-color: yellow;
  cursor: pointer;
  // box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35)

}


button:hover {
  transform: translateY(-3px);
 box-shadow: 0 4px 17px rgba(3, 4, 3, 0.433);
 }

 