<div><div class="example-small-box " style="align-items: center;">
  
    <div class="input-group">
      <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">    
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
      

    <button type="button" class="btn btn-warning" routerLink="/registration" href="<app-registration></app-registration>">SUBMIT</button>
    <!-- <button type="button" class="btn btn-warning" >SUBMIT</button> -->

  </div>
</div>