mat-tab-header mat-tab-labels  {
    justify-content: center;
    background: blueviolet !important;
}

// mat-tab-group{
//     background: blueviolet;
// }

mat-tab{
    background: brown;
}

mat-tab-group{
    background: crimson;
}