<div class="container">
    <div class="card-deck">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">1 Card title</h4>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                <textarea id="w3review" name="w3review" rows="4" cols="30" placeholder="Write your feedback here">
                </textarea>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="btn btn-danger" style="text-align: center;">Submit Feedback</button>
            </div>
        </div> 

    </div>
</div>