<div class="container"  >
    <div class="row">
        <div class="col-sm-6 col-lg-4 card-margin" *ngFor="let feedback of feedBackList" (click)="getVal(inputVal.value)">
            <div class="card border-primary card-bg" >
              <div class="text-center">
                  <img class="imgClass" src="assets/img_avatar3.png"  >           
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{feedback.name}}</h5>
                <textarea class="textinput" 
                          placeholder="  Write your feedback here..."
                          #inputVal  
                          (keyup)="getVal(inputVal.value)" 
                          maxlength="100"></textarea>   
                <div class="container text-below-textarea">
                      <span class="card-text text-left" style="display:inline-block;text-align:left;">
                          <small class="text-muted">Max 100 Characters</small>
                      </span>
                  
                        <span class="card-text text-right" style="display:inline-block;text-align:right;">
                          <div *ngIf="inputVal.value.length < 80; else loggedOut">
                            <small class="text-muted">{{inputVal.value.length}} /100</small>
                          </div>
                          <ng-template #loggedOut>
                            <small class=" " style="color: red;"> {{inputVal.value.length}} /100 </small>
                        </ng-template>
                        </span>               
                 </div>       
      
              <div class="text-center">
                <button href="#" class="btn btn-primary submit"  >Submit Feedback</button>
              </div>
              </div>
            </div>
          </div>    
      </div>
    </div>